
body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

#home1 {
    background-color: #c4d9fb;

}

#home3 ul {
    width: 100%;
    padding: 12px 10px;
    margin: 50px 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.street {
    color: #6cb840;
}

.man {
    color: rgb(205, 50, 115);
}

.order {
    background-color: #6CB840;
    border-radius: 12px 12px 12px 12px;
    border: transparent;
    height: 4vh;
}

.kuku h3 {
    color: #6CB840;
}

.hen {
    display: flex;
    align-items: center;
}

* {
    padding: 0%;
    margin: 0%;
    font-family: Poppins;

}

.exmenu {
    margin-left: 80px;
    margin-right: 35px;
    padding-right: 70px;
    padding-left: 0px;
    background-color: #eaf3e4;

}

.exmenuburgnamex {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.exmenu>h1 {
    text-align: center
}
.burgname {
    padding: 20px;
    height: 100px;
    margin: 100px;
    min-height: 100px;
    width: 250px;
    border-radius: 0 0 50px 0;
    background-color: white;
    position: relative;
}

.burgname>img {
    position: absolute;
    bottom: -2.5rem;
    left: -5rem;
    height: 9rem;
    width: 10rem;
    top: 2rem;
}

.burgname>h3 {
    text-align: left;
    left: 0rem;
}

.burgname>p {
    text-align: center;
    margin-left: 2rem;
    font-size: 18px;
}
.classic {
    background-color: #C9ECB5;
}

#classic {
    text-align: center;
    margin-top: 0px;
    padding: 30px;
}

#hot {
    font-size: x-large;
}

#deals {
    font-size: x-large;
    color: #6CB840;
}

.carrie {
    display: flex;
    margin: 5px;
}
.specialhlast {
    text-align: center;
    margin-top: 180px;
}
#special {
    font-size: 50px;
    color: #6CB840;
}

#pizz {
    font-size: 40px;
    text-align: left;
    margin: 50px;
}

#para {
    text-align: center;
    margin: 50px;
    width: 280px;
    font-size: 20px;
}
.burglas {
    position: relative;
    margin-left: 150px;
    height: 40%;
    width: 30%;
    right: 400px;
}
.cons>p {
    font-size: x-large;
    text-align: center;
    background-color: #FFD77C;
    margin: 0px;
    padding: 50px;
}

#contactspan {
    font-weight: 700;
}

#us {
    color: #6CB840;
    font-weight: 700;
}

#conts {
    font-size: large;
}

#fill {
    text-align: center;
    background-color: #FFD77C;
    margin: -50px 0px;
    padding: 50px;
    border-radius: 500px;

}
#email {
    width: 600px;
    height: 30px;
    border-radius: 150px;
    border-color: white;
    border-style: none;
    border-top-width: 0px;
    margin: 20px;
    margin-left: 20px;
    font-size: large;
    padding: 10px;
}

.click {
    text-align: center;
    background-color: #FFD77C;
    margin: 0px 0px;
    padding: 40px;
    width: auto;
}
footer {
    height: 230px;
    background-color: #C9ECB5;
    position: relative;
    left: 15px;
    top: 30px;
}

#otime,#otimeb {
    width: 200px;
    height: 100px;
    font-size: 25px

}

#otimeb>h5 {
    margin: 0;
    font-size: 25px

}

#location {
    width: 200px;
    height: 100px;
    border-left: 3px dashed #77bb50;
    position: relative;
    left: 300px;
    bottom: 150px;
    padding-left: 50px;
    font-size: 23px;
}

#follow {
    width: 270px;
    height: 130px;
    position: relative;
    left: 1500px;
    bottom: 230px;
    font-size: 20px;
}

#button {
    position: relative;
    left: 1670px;
    bottom: 250px;
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#ig_icon {
    position: relative;
    left: 1700px;
    bottom: 350px;
}

span {
    color: #6CB840;
}

h1>span {
    color: #EAAB1B;
}

