body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

#home1 {
    background-color: #c4d9fb;

}

#home3 ul {
    width: 100%;
    padding: 12px 10px;
    margin: 50px 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.street {
    color: #6cb840;
}

.man {
    color: rgb(205, 50, 115);
}

.order {
    background-color: #6CB840;
    border-radius: 12px 12px 12px 12px;
    border: transparent;
    height: 4vh;
}

.kuku h3 {
    color: #6CB840;
}

.hen {
    display: flex;
    align-items: center;
}

* {
    padding: 0%;
    margin: 0%;
    font-family: Poppins;

}

.exmenu {
    margin-left: 80px;
    margin-right: 35px;
    padding-right: 70px;
    padding-left: 0px;
    background-color: #eaf3e4;

}

.exmenuburgnamex {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.exmenu>h1 {
    text-align: center
}
.burgname {
    padding: 20px;
    height: 100px;
    margin: 100px;
    min-height: 100px;
    width: 250px;
    border-radius: 0 0 50px 0;
    background-color: white;
    position: relative;
}

.burgname>img {
    position: absolute;
    bottom: -2.5rem;
    left: -5rem;
    height: 9rem;
    width: 10rem;
    top: 2rem;
}

.burgname>h3 {
    text-align: left;
    left: 0rem;
}

.burgname>p {
    text-align: center;
    margin-left: 2rem;
    font-size: 18px;
}
