#home1{
    background-color: #c4d9fb;

}
#home3 ul{
    width: 100%;
    padding: 12px 10px;
    margin: 50px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.street{
    color: #6cb840;
}
.man{
    color: rgb(205, 50, 115);
}
.order{
    background-color: #6CB840;
    border-radius: 12px 12px 12px 12px;
    border: transparent;
    height: 4vh;
}
.kuku h3{
    color: #6CB840;
}
.hen{
display: flex;
align-items: center;
}
.menu >div{
    background: #c4d9fb;
    padding: 1em;
    
}
.hotd{
    background-color: #C9ECB5;
    display: flex;
    align-items: center;
}
.menu{
    display: grid;
    grid-template-columns: 30% 30% 30%;
       width: 100%;
    padding: 12px 10px;
    margin: 5px 0;
    background-color: rgb(206, 206, 194);
}
.menu2{
    border: 2px solid black;
    border-bottom-right-radius: 200px;
    display: flex;
    background-color: red
}
.menu2 img{
    position: relative;
    right: 10px;
    top : 150px;
    background-color: white;
    float: left;
}

